/* Color Theme Swatches in Hex */
$Atlas-1-hex: #A4786B;
$Atlas-2-hex: #D9AF9E;
$Atlas-3-hex: #A02C2C;
$Atlas-4-hex: #073F2F;
$Atlas-5-hex: #03261C;

/* Color Theme Swatches in RGBA */
$Atlas-1-rgba: rgba(164,120,107, 1);
$Atlas-2-rgba: rgba(217,175,158, 1);
$Atlas-3-rgba: rgba(160,44,44, 1);
$Atlas-4-rgba: rgba(7,63,47, 1);
$Atlas-5-rgba: rgba(3,38,28, 1);

/* Color Theme Swatches in HSLA */
$Atlas-1-hsla: hsla(13, 23, 53, 1);
$Atlas-2-hsla: hsla(17, 43, 73, 1);
$Atlas-3-hsla: hsla(0, 56, 40, 1);
$Atlas-4-hsla: hsla(162, 80, 13, 1);
$Atlas-5-hsla: hsla(162, 85, 8, 1);